*{
    box-sizing: border-box;
    list-style-type: none;
}

html{
    margin: 0;
    padding: 0;
    font-size: 65%;
}

body{
    background-color:gray;
    color: white;
}

header{
    background-color:white;
    color: black;
    margin: 0;
    text-align: center;
}

h3{
    text-align: left;
}

nav ul{
    padding: 0.5rem;
}

.Aulas{
    margin-right: 50px;
    float: left;
    font-size: 1.8rem;
    text-align: left;
    padding-left: 0;
    list-style: none;
    
}

nav li{
    
}

.Redes{
    float: right;
    height: 60%;
    font-size: 1.8rem;
}


table{
   
}

td{
    margin-left: 5rem;
    font-size: 25PX;
}

Td p{
    padding-top: 0;
    font-size: 15px;
}

td img{
    width: 15rem;
}

.texto{
    font-size: 15px;
}


footer{
    background-color: rgb(190, 190, 106);
    text-align: center;
    padding: 10px;
    font-style: italic;
    margin-top: 80px;
    font-size: 15px;
}